body {
  display: flex;
  background-color: rgb(21, 32, 43);
  color: rgb(228, 231, 232);
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 65px;
}

section {
  margin-bottom: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  font-size: 15px;
  text-decoration-line: underline;
}

#top-nav-bar {
  display: flex;
  background-color: rgb(21, 32, 43);
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 10px;
  z-index: 1;
  margin-bottom: 10px;
}

#top-nav-bar p {
  padding-left: 2%;
}

#site {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 75%;
}

#side-bar {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  margin-left: 2%;
  margin-right: 2%;
  text-align: left;
}

#side-bar .icon {
  height: 20px;
  width: auto;
  -webkit-filter: invert(100%);
}

#side-bar #pfp {
  border-radius:50% 50% 50% 50%;
  width: 150px;
  height: 150px;
}

#side-bar a {
  text-decoration: none;
  color: rgb(228, 231, 232);
}

#side-bar a:hover {
  text-decoration: underline;
  color: aquamarine;
}

#side-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#side-bar li {
  height: fit-content;
  padding-bottom: 10px;
}

#gallery {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px;
}

#gallery img {
  padding: 5px;
  height: 500px;
  width: auto;
  transition: transform 1.5s;
}

#gallery img:hover {
  transition: transform 1.5s;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  #site {
    max-width: none;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
}