/* style.css */

/* #################### MAIN #################### */
body {
    margin: 0;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(21, 32, 43);
    color: rgb(235, 235, 235);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(21, 32, 43);
}

header ul li{
    vertical-align: middle;
    display: inline;
    margin-left: 20px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo .header-logo {
    height: 40px;
    margin-right: 10px;
}

header .logo .app-name {
    font-size: 24px;
    color: rgb(235, 235, 235);
}

header nav .nav-link {
    text-decoration: none;
    color: rgb(235, 235, 235);
    font-size: 16px;
}

header nav .nav-link:hover {
    text-decoration: underline;
}

header .header-avatar {
    border-radius: 50%;
    width: 50px;
    height: auto;
}

footer {
    color: rgb(235, 235, 235);
    text-align: center;
}

/* #################### LOGIN #################### */

.login-register {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login-register span{
    text-decoration: underline;
}

.login-area, .register-area {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.login-register form {
    display: flex;
    flex-direction: column;
}

.login-register input {
    padding: 15px 5px;
    border-radius: 10px;
    font-size: 125%;
}

.login-register button {
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 125%;
    color: rgb(235, 235, 235);
    background-color: rgb(13, 142, 228);
}

.login-register label, input, button {
    margin-top: 15px;
}

/* #################### HOME #################### */
.content-container {
    display: flex;
    justify-content: center;
}

.post-form {
    margin: 0 auto;
}

.posts-list {
    width: 50%;
    margin: 0 auto;
}

.posts-list ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #################### POST #################### */

.post {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, .5);
    margin-bottom: 20px;
}

.post .post-avatar img{
    border-radius: 50%;
    width: 50px;
    height: auto;
}

.post .comments-section textarea {
    height: 50px;
    width: 100%;
}

.profile-container{
    display: flex;
    align-items: center;
    padding: 10px;
}

#emoji-container{
    width: 200px;
    height: 200px;
    overflow: auto;
}
.content-container{
    padding: 20px;
}

input[name="title"] {
    width: 100%; 
    height: 50px;  
}

/* Style for the content textarea */
textarea[name="content"] {
    width: 100%;  
    height: 100px;  
}

.emoji-button{
    padding: 5px 10px;
    margin: 5px;
    color: white;
    background-color: dimgray;
    cursor: pointer;
}

.post-button{
    padding: 7.5px 15px;
    margin: 5px;
    color: white;
    background-color: dimgray;
    cursor: pointer;
}

.like-button, .delete-button, .tagbutton, #recent-post, #popular-post{
    padding: 5px 10px;
    margin: 5px;
    color: white;
    background-color: dimgray;
    cursor: pointer;
}

.tagbuttonsort{
    padding: 5px 10px;
    margin: 20px 10px 9.5px 10px ;
    color: white;
    background-color: dimgray;
    cursor: pointer;
}
.tags{
    padding: 5px 10px;
    margin: 2.5px;
    color: white;
    background-color: lightsteelblue;

}

.like-button:hover, .delete-button:hover, .emoji-button:hover, .post-button:hover, .tagbutton:hover, .tagbuttonsort:hover{
    background-color: slategray;
}




.button-clicked, .tags:hover {
    background-color: steelblue; /* Change to your desired color */
}

.tag{
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid black;
    border-style: inset;
}





